files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/03_rpush.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars

      EB_APP_DEPLOY_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)
      EB_APP_PID_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_pid_dir)
      EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)
      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)

      . $EB_SUPPORT_DIR/envvars
      . $EB_SCRIPT_DIR/use-app-ruby.sh

      RPUSH_PID=$EB_APP_PID_DIR/rpush.pid
      RPUSH_CONFIG=$EB_APP_DEPLOY_DIR/config/initializers/rpush.rb

      cd $EB_APP_DEPLOY_DIR

      if [ -f $RPUSH_PID ]
      then
        su -s /bin/bash -c "bundle exec rpush stop \
          -e $RACK_ENV \
          -p $RPUSH_PID \
          -c $RPUSH_CONFIG" $EB_APP_USER
      fi

      . /opt/elasticbeanstalk/support/envvars.d/sysenv

      sleep 10

      su -s /bin/bash -c "bundle exec rpush start \
        -e $RACK_ENV \
        -p $RPUSH_PID \
        -c $RPUSH_CONFIG" $EB_APP_USER
